<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <p>This site was created by Oren w, it uses data from mapbox.com and weather.com!</p>
    <img src="/img/tiger.jpg"
    {{>footer}}
</body>

</html>