<!DOCTYPE html>

<html>

<head>
    <title>Ebay for Raviv</title>
    <link rel="stylesheet" href="/css/styles.css">    
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get best price </p>

        <form>
            <input placeholder="Product">
            <button>Search</button>
        </form>
        <b>UK</b>
        <p id="message-1"></p>
        <p id="message-2"></p>
        <p id="message-3"></p>
        </div>=========================</div>
        <b>SP</b>
        <p id="message-11"></p>
        <p id="message-22"></p>
        <p id="message-33"></p>
    </div>
    
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>