; Nexus proxy registry pointing to http://registry.npmjs.org/
registry=https://registry.npmjs.org/
@enrichment:registry=https://nexus-forensic.cellebrite.com/repository/enrichment
//nexus-forensic.cellebrite.com/repository/enrichment/_authToken=NpmToken.d19e6a52-2553-316a-bfa9-ee1763b3d688 

@acs:registry=https://nexus-forensic.cellebrite.com/repository/npm-web/
;_auth=YWNjZXNzOkFhNjU0MzIxIUAj
;email=jenkinsdevops@cellbrite.com
